.modal-content {
  padding: 16px;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-form-item-label {
  padding-bottom: 4px;
}

.ant-select-selector, .ant-input {
  width: 100%;
}

.ant-modal-footer {
  padding: 10px 20px;
  border-top: none;
}

.ant-modal-footer button {
  margin-right: 8px;
}
